<div class="topping-control" draggable="true">
    <div class="topping-control__title">
        <p>@Topping.Name</p>
    </div>
    <div class="topping-control__img-holder">
        <img src="@GetToppingImg(Topping.Name)" alt="topping" />
    </div>
    <div class="topping-control__price-selector">
        <select class="select" @bind-Value="@Topping.SelectedSize" @bind-Value:event="onchange">
            @if (Topping.Prices != null)
            {
                foreach (var price in Topping.Prices)
                {
                    <option value="@price.Key">@price.Key</option>
                }
            }
        </select>

        <p class="price">
            KSHS
            <span>
                @Topping.SelectedPrice.ToString("0.00")
            </span>
        </p>

    </div>
</div>


