<div class="pizza-designer">
    <select class="select" @bind-Value="@Pizza.Size" @bind-Value:event="onchange">
        @foreach (var size in Enum.GetValues(typeof(PizzaSize)))
        {
            <option value="@size">@size.ToString() @@ KES @Pizza.GetPrice((PizzaSize)size).ToString("0.00")</option>
        }
    </select>
    <div class="pizza-designer__canvas-container">
        <div class="pizza-designer__canvas" dropzone="move" 
             ondragover="event.preventDefault();"
             @ondrop="HandleDrop"
             @ondragenter="HandleDragEnter"
             @ondragleave="HandleDragLeave">
            <img src="/icon-192.png" alt="pizza" />
        </div>
        @if(Pizza.Toppings != null)
        {
            <div class="pizza-designer__topping-container">
                @foreach (var topping in Pizza.Toppings)
                {
                    <MinimizedToppingControl Topping="topping" QuantityChanged="HandleQuantityChanged"/>
                }
            </div>
        }
    </div>
    <div class="pizza-designer__actions">
        <button class="btn btn-clear" @onclick="HandleClear">Clear</button>
        <button class="btn btn-order" @onclick=HandlePizzaAddToCart>Add To Cart</button>
        <p class="price">
            KES <span>@Pizza.TotalNetPrice.ToString("0.00")</span>
        </p>

    </div>
    <p class="pizza-design__pizza-name">@Pizza.Name</p>
</div>


